USE [master]
GO
/****** Object:  Database [cinemaSystem]    Script Date: 5/19/2025 4:39:30 PM ******/
CREATE DATABASE [cinemaSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cinemaSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cinemaSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cinemaSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cinemaSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cinemaSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cinemaSystem]
GO
/****** Object:  Schema [booking]    Script Date: 5/19/2025 4:39:31 PM ******/
CREATE SCHEMA [booking]
GO
/****** Object:  Schema [core]    Script Date: 5/19/2025 4:39:31 PM ******/
CREATE SCHEMA [core]
GO
/****** Object:  Schema [reviews]    Script Date: 5/19/2025 4:39:31 PM ******/
CREATE SCHEMA [reviews]
GO
/****** Object:  Schema [sales]    Script Date: 5/19/2025 4:39:31 PM ******/
CREATE SCHEMA [sales]
GO
/****** Object:  Table [core].[Movies]    Script Date: 5/19/2025 4:39:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[Movies](
	[movie_id] [int] NOT NULL,
	[title] [varchar](40) NOT NULL,
	[genre] [varchar](20) NOT NULL,
	[duration] [time](7) NOT NULL,
	[rating] [varchar](10) NULL,
	[release_date] [date] NOT NULL,
	[Synopsis] [varchar](200) NULL,
 CONSTRAINT [movies_pk] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [title_uq] UNIQUE NONCLUSTERED 
(
	[title] ASC,
	[release_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[Screenings]    Script Date: 5/19/2025 4:39:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[Screenings](
	[Screening_id] [int] NOT NULL,
	[Theater_id] [int] NULL,
	[Movie_id] [int] NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[ticket_price] [decimal](18, 0) NOT NULL,
	[available_Seats] [int] NOT NULL,
 CONSTRAINT [Screenings_pk] PRIMARY KEY CLUSTERED 
(
	[Screening_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[Theaters]    Script Date: 5/19/2025 4:39:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[Theaters](
	[Theater_id] [int] NOT NULL,
	[T_location] [varchar](100) NOT NULL,
	[ScreenSize] [varchar](20) NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[SeatingPerRow] [int] NOT NULL,
 CONSTRAINT [theater_pk] PRIMARY KEY CLUSTERED 
(
	[Theater_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [core].[Screenings]  WITH CHECK ADD  CONSTRAINT [movie_fk] FOREIGN KEY([Movie_id])
REFERENCES [core].[Movies] ([movie_id])
GO
ALTER TABLE [core].[Screenings] CHECK CONSTRAINT [movie_fk]
GO
ALTER TABLE [core].[Screenings]  WITH CHECK ADD  CONSTRAINT [theatre_fk] FOREIGN KEY([Theater_id])
REFERENCES [core].[Theaters] ([Theater_id])
GO
ALTER TABLE [core].[Screenings] CHECK CONSTRAINT [theatre_fk]
GO
ALTER TABLE [core].[Movies]  WITH CHECK ADD  CONSTRAINT [duration_ck] CHECK  (([duration]>'00:00:00'))
GO
ALTER TABLE [core].[Movies] CHECK CONSTRAINT [duration_ck]
GO
ALTER TABLE [core].[Screenings]  WITH CHECK ADD  CONSTRAINT [seats_chk] CHECK  (([available_Seats]>(0)))
GO
ALTER TABLE [core].[Screenings] CHECK CONSTRAINT [seats_chk]
GO
ALTER TABLE [core].[Screenings]  WITH CHECK ADD  CONSTRAINT [ticket_ck] CHECK  (([ticket_price]>=(5)))
GO
ALTER TABLE [core].[Screenings] CHECK CONSTRAINT [ticket_ck]
GO
ALTER TABLE [core].[Theaters]  WITH CHECK ADD  CONSTRAINT [seats_ck] CHECK  (([TotalSeats]>(0) AND [SeatingPerRow]>(0)))
GO
ALTER TABLE [core].[Theaters] CHECK CONSTRAINT [seats_ck]
GO
USE [master]
GO
