USE [master]
GO
/****** Object:  Database [Cinema ]    Script Date: 5/22/2025 2:51:11 AM ******/
CREATE DATABASE [Cinema ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cinema _Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cinema .mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Cinema _Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cinema .ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cinema ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cinema ]
GO
/****** Object:  Table [dbo].[BookingConcessions]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingConcessions](
	[BookingID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[booking_id] [int] NOT NULL,
	[seat_number] [int] NOT NULL,
	[payment_status] [bit] NOT NULL,
	[booking_timestamp] [datetime2](7) NULL,
	[customer_id] [int] NOT NULL,
	[screening_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConcessionRevenues]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConcessionRevenues](
	[product_id] [int] NOT NULL,
	[total_revenue] [decimal](12, 2) NULL,
	[last_updated] [datetime2](7) NULL,
 CONSTRAINT [PK_ConcessionRevenues] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Concessions]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Concessions](
	[product_id] [int] NOT NULL,
	[product_name] [varchar](50) NULL,
	[price] [decimal](10, 2) NULL,
	[stock_quantity] [int] NULL,
	[category] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone_number] [varchar](15) NULL,
	[loyal_points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieRevenues]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieRevenues](
	[movie_id] [int] NOT NULL,
	[total_revenue] [decimal](12, 2) NULL,
	[last_updated] [datetime2](7) NULL,
 CONSTRAINT [PK_MovieRevenues] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[movie_id] [int] NOT NULL,
	[title] [varchar](40) NOT NULL,
	[genre] [varchar](20) NOT NULL,
	[duration] [time](7) NOT NULL,
	[rating] [varchar](10) NULL,
	[release_date] [date] NOT NULL,
	[Synopsis] [varchar](200) NULL,
 CONSTRAINT [movies_pk] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[movie_id] [int] NULL,
	[rating] [int] NULL,
	[review_text] [varchar](150) NULL,
	[review_timestamp] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screenings]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screenings](
	[Screening_id] [int] NOT NULL,
	[Theater_id] [int] NOT NULL,
	[Movie_id] [int] NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[ticket_price] [decimal](10, 2) NOT NULL,
	[available_Seats] [int] NOT NULL,
	[show_date] [date] NOT NULL,
 CONSTRAINT [Screenings_pk] PRIMARY KEY CLUSTERED 
(
	[Screening_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheaterRevenues]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheaterRevenues](
	[theater_id] [int] NOT NULL,
	[total_revenue] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[theater_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theaters]    Script Date: 5/22/2025 2:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theaters](
	[Theater_id] [int] NOT NULL,
	[T_location] [varchar](100) NOT NULL,
	[ScreenSize] [varchar](20) NOT NULL,
	[TotalSeats] [int] NOT NULL,
	[SeatingPerRow] [int] NOT NULL,
 CONSTRAINT [theater_pk] PRIMARY KEY CLUSTERED 
(
	[Theater_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BookingConcessions] ([BookingID], [ProductID], [Quantity]) VALUES (1, 1, 3)
INSERT [dbo].[BookingConcessions] ([BookingID], [ProductID], [Quantity]) VALUES (1, 3, 2)
INSERT [dbo].[BookingConcessions] ([BookingID], [ProductID], [Quantity]) VALUES (2, 2, 1)
GO
INSERT [dbo].[Bookings] ([booking_id], [seat_number], [payment_status], [booking_timestamp], [customer_id], [screening_id]) VALUES (1, 105, 1, CAST(N'2025-04-04T15:30:00.0000000' AS DateTime2), 1, 1)
INSERT [dbo].[Bookings] ([booking_id], [seat_number], [payment_status], [booking_timestamp], [customer_id], [screening_id]) VALUES (2, 45, 1, CAST(N'2025-04-04T16:15:00.0000000' AS DateTime2), 2, 2)
INSERT [dbo].[Bookings] ([booking_id], [seat_number], [payment_status], [booking_timestamp], [customer_id], [screening_id]) VALUES (3, 99, 1, CAST(N'2025-04-04T17:00:00.0000000' AS DateTime2), 3, 3)
GO
INSERT [dbo].[ConcessionRevenues] ([product_id], [total_revenue], [last_updated]) VALUES (1, CAST(225.00 AS Decimal(12, 2)), CAST(N'2025-05-20T23:12:38.9866667' AS DateTime2))
INSERT [dbo].[ConcessionRevenues] ([product_id], [total_revenue], [last_updated]) VALUES (2, CAST(60.00 AS Decimal(12, 2)), CAST(N'2025-05-20T23:12:38.9866667' AS DateTime2))
INSERT [dbo].[ConcessionRevenues] ([product_id], [total_revenue], [last_updated]) VALUES (3, CAST(120.00 AS Decimal(12, 2)), CAST(N'2025-05-20T23:12:38.9866667' AS DateTime2))
GO
INSERT [dbo].[Concessions] ([product_id], [product_name], [price], [stock_quantity], [category]) VALUES (1, N'Popcorn Large', CAST(75.00 AS Decimal(10, 2)), 200, N'Snacks')
INSERT [dbo].[Concessions] ([product_id], [product_name], [price], [stock_quantity], [category]) VALUES (2, N'Nachos with Cheese', CAST(60.00 AS Decimal(10, 2)), 150, N'Snacks')
INSERT [dbo].[Concessions] ([product_id], [product_name], [price], [stock_quantity], [category]) VALUES (3, N'Coca-Cola 500ml', CAST(30.00 AS Decimal(10, 2)), 300, N'Beverages')
GO
INSERT [dbo].[MovieRevenues] ([movie_id], [total_revenue], [last_updated]) VALUES (1, CAST(445.00 AS Decimal(12, 2)), CAST(N'2025-05-20T23:04:43.8166667' AS DateTime2))
INSERT [dbo].[MovieRevenues] ([movie_id], [total_revenue], [last_updated]) VALUES (2, CAST(95.00 AS Decimal(12, 2)), CAST(N'2025-05-20T23:04:43.8166667' AS DateTime2))
INSERT [dbo].[MovieRevenues] ([movie_id], [total_revenue], [last_updated]) VALUES (3, CAST(2545.00 AS Decimal(12, 2)), CAST(N'2025-05-20T23:04:43.8166667' AS DateTime2))
GO
INSERT [dbo].[Movies] ([movie_id], [title], [genre], [duration], [rating], [release_date], [Synopsis]) VALUES (1, N'Inception', N'Action/Sci-Fi', CAST(N'02:28:00' AS Time), N'8.8', CAST(N'2010-07-16' AS Date), N'A thief who enters the dreams of others to steal secrets is given the inverse task of planting an idea into a C.E.O.''s mind.')
INSERT [dbo].[Movies] ([movie_id], [title], [genre], [duration], [rating], [release_date], [Synopsis]) VALUES (2, N'The Dark Knight', N'Action/Crime', CAST(N'02:32:00' AS Time), N'9.0', CAST(N'2008-07-18' AS Date), N'When the menace known as the Joker wreaks havoc on the people of Gotham, Batman must accept one of the greatest psychological tests.')
INSERT [dbo].[Movies] ([movie_id], [title], [genre], [duration], [rating], [release_date], [Synopsis]) VALUES (3, N'Interstellar', N'Sci-Fi/Adventure', CAST(N'02:49:00' AS Time), N'8.6', CAST(N'2014-11-05' AS Date), N'A team of explorers travel through a wormhole in space in an attempt to ensure humanity''s survival.')
GO
INSERT [dbo].[Reviews] ([review_id], [customer_id], [movie_id], [rating], [review_text], [review_timestamp]) VALUES (1, 1, 1, 5, N'Inception was mind-blowing! The visuals and plot twists were amazing.', CAST(N'2025-05-19T23:15:23.9000000' AS DateTime2))
INSERT [dbo].[Reviews] ([review_id], [customer_id], [movie_id], [rating], [review_text], [review_timestamp]) VALUES (2, 2, 2, 5, N'The Dark Knight is still the best superhero movie ever made.', CAST(N'2025-05-19T23:15:23.9000000' AS DateTime2))
INSERT [dbo].[Reviews] ([review_id], [customer_id], [movie_id], [rating], [review_text], [review_timestamp]) VALUES (3, 3, 3, 4, N'Interstellar was a bit slow but the space visuals were stunning.', CAST(N'2025-05-19T23:15:23.9000000' AS DateTime2))
GO
INSERT [dbo].[Screenings] ([Screening_id], [Theater_id], [Movie_id], [start_time], [end_time], [ticket_price], [available_Seats], [show_date]) VALUES (1, 1, 1, CAST(N'10:00:00' AS Time), CAST(N'12:30:00' AS Time), CAST(90.00 AS Decimal(10, 2)), 138, CAST(N'2025-05-21' AS Date))
INSERT [dbo].[Screenings] ([Screening_id], [Theater_id], [Movie_id], [start_time], [end_time], [ticket_price], [available_Seats], [show_date]) VALUES (2, 1, 2, CAST(N'14:00:00' AS Time), CAST(N'16:40:00' AS Time), CAST(95.00 AS Decimal(10, 2)), 130, CAST(N'2025-05-21' AS Date))
INSERT [dbo].[Screenings] ([Screening_id], [Theater_id], [Movie_id], [start_time], [end_time], [ticket_price], [available_Seats], [show_date]) VALUES (3, 2, 3, CAST(N'11:00:00' AS Time), CAST(N'13:50:00' AS Time), CAST(85.00 AS Decimal(10, 2)), 0, CAST(N'2025-05-21' AS Date))
GO
INSERT [dbo].[TheaterRevenues] ([theater_id], [total_revenue]) VALUES (1, CAST(90.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Theaters] ([Theater_id], [T_location], [ScreenSize], [TotalSeats], [SeatingPerRow]) VALUES (1, N'Cairo Festival, Cairo', N'IMAX', 200, 20)
INSERT [dbo].[Theaters] ([Theater_id], [T_location], [ScreenSize], [TotalSeats], [SeatingPerRow]) VALUES (2, N'Mall Of Egyot, Cairo', N'4K Digital', 200, 10)
INSERT [dbo].[Theaters] ([Theater_id], [T_location], [ScreenSize], [TotalSeats], [SeatingPerRow]) VALUES (3, N'Heliopolis, Cairo', N'Standard', 200, 10)
GO
/****** Object:  Index [seat_screen_uq]    Script Date: 5/22/2025 2:51:12 AM ******/
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [seat_screen_uq] UNIQUE NONCLUSTERED 
(
	[seat_number] ASC,
	[screening_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [email_uq]    Script Date: 5/22/2025 2:51:12 AM ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [email_uq] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [phone_uq]    Script Date: 5/22/2025 2:51:12 AM ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [phone_uq] UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [title_date_uq]    Script Date: 5/22/2025 2:51:12 AM ******/
ALTER TABLE [dbo].[Movies] ADD  CONSTRAINT [title_date_uq] UNIQUE NONCLUSTERED 
(
	[title] ASC,
	[release_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [location_uq]    Script Date: 5/22/2025 2:51:12 AM ******/
ALTER TABLE [dbo].[Theaters] ADD  CONSTRAINT [location_uq] UNIQUE NONCLUSTERED 
(
	[T_location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConcessionRevenues] ADD  DEFAULT ((0.00)) FOR [total_revenue]
GO
ALTER TABLE [dbo].[ConcessionRevenues] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[MovieRevenues] ADD  DEFAULT ((0.00)) FOR [total_revenue]
GO
ALTER TABLE [dbo].[MovieRevenues] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [review_timestamp]
GO
ALTER TABLE [dbo].[Screenings] ADD  DEFAULT (getdate()) FOR [show_date]
GO
ALTER TABLE [dbo].[TheaterRevenues] ADD  DEFAULT ((0)) FOR [total_revenue]
GO
ALTER TABLE [dbo].[BookingConcessions]  WITH CHECK ADD  CONSTRAINT [booking_fk_concessions] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([booking_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingConcessions] CHECK CONSTRAINT [booking_fk_concessions]
GO
ALTER TABLE [dbo].[BookingConcessions]  WITH CHECK ADD  CONSTRAINT [product_fk_concessions] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Concessions] ([product_id])
GO
ALTER TABLE [dbo].[BookingConcessions] CHECK CONSTRAINT [product_fk_concessions]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [screening_fk_bookings] FOREIGN KEY([screening_id])
REFERENCES [dbo].[Screenings] ([Screening_id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [screening_fk_bookings]
GO
ALTER TABLE [dbo].[ConcessionRevenues]  WITH CHECK ADD  CONSTRAINT [FK_ConcessionRevenues_Concessions] FOREIGN KEY([product_id])
REFERENCES [dbo].[Concessions] ([product_id])
GO
ALTER TABLE [dbo].[ConcessionRevenues] CHECK CONSTRAINT [FK_ConcessionRevenues_Concessions]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [movie_fk_reviews] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [movie_fk_reviews]
GO
ALTER TABLE [dbo].[Screenings]  WITH CHECK ADD  CONSTRAINT [movie_fk] FOREIGN KEY([Movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Screenings] CHECK CONSTRAINT [movie_fk]
GO
ALTER TABLE [dbo].[Screenings]  WITH CHECK ADD  CONSTRAINT [theatre_fk] FOREIGN KEY([Theater_id])
REFERENCES [dbo].[Theaters] ([Theater_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Screenings] CHECK CONSTRAINT [theatre_fk]
GO
ALTER TABLE [dbo].[BookingConcessions]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [seat_nums_ck] CHECK  (([seat_number]>=(1) AND [seat_number]<=(200)))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [seat_nums_ck]
GO
ALTER TABLE [dbo].[Concessions]  WITH CHECK ADD  CONSTRAINT [price_ck] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Concessions] CHECK CONSTRAINT [price_ck]
GO
ALTER TABLE [dbo].[Concessions]  WITH CHECK ADD  CONSTRAINT [stock_ck] CHECK  (([stock_quantity]>=(0)))
GO
ALTER TABLE [dbo].[Concessions] CHECK CONSTRAINT [stock_ck]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [chk_phone_egyptian_format] CHECK  (([phone_number] like '01%' AND NOT [phone_number] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [chk_phone_egyptian_format]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [duration_ck] CHECK  (([duration]>'00:00:00'))
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [duration_ck]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Screenings]  WITH CHECK ADD  CONSTRAINT [seats_chk] CHECK  (([available_Seats]>=(0)))
GO
ALTER TABLE [dbo].[Screenings] CHECK CONSTRAINT [seats_chk]
GO
ALTER TABLE [dbo].[Screenings]  WITH CHECK ADD  CONSTRAINT [ticket_ck] CHECK  (([ticket_price]>=(60)))
GO
ALTER TABLE [dbo].[Screenings] CHECK CONSTRAINT [ticket_ck]
GO
ALTER TABLE [dbo].[Theaters]  WITH CHECK ADD  CONSTRAINT [seats_ck] CHECK  (([TotalSeats]>(0) AND [SeatingPerRow]>(0)))
GO
ALTER TABLE [dbo].[Theaters] CHECK CONSTRAINT [seats_ck]
GO
USE [master]
GO
